<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         cacheDirectory=".phpunit.cache"
         backupGlobals="false">
    <testsuites>
        <testsuite name="Address Unit Tests">
            <directory>tests/Unit/Models/AddressTest.php</directory>
            <directory>tests/Unit/Policies/AddressPolicyTest.php</directory>
        </testsuite>
        <testsuite name="Address Feature Tests">
            <directory>tests/Feature/Api/AddressControllerTest.php</directory>
        </testsuite>
        <testsuite name="Address Integration Tests">
            <directory>tests/Integration/Services/AddressServiceTest.php</directory>
        </testsuite>
        <testsuite name="Address All Tests">
            <directory>tests/Unit/Models/AddressTest.php</directory>
            <directory>tests/Unit/Policies/AddressPolicyTest.php</directory>
            <directory>tests/Feature/Api/AddressControllerTest.php</directory>
            <directory>tests/Integration/Services/AddressServiceTest.php</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app/Models/Address.php</directory>
            <directory>app/Http/Controllers/AddressController.php</directory>
            <directory>app/Http/Resources/AddressResource.php</directory>
            <directory>app/Services/Address</directory>
            <directory>app/Policies/AddressPolicy.php</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:2fl+Ktvkfl+Fuz4Qp/A75G2RTiWVA/ZoKGlSPJKvLKY="/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>
